<settings>
    <setting propertyKey="@Properties.rollingWindowSec" title="@Strings.SetRollingWindow">
        <settingConfig type="numeric" min="0" max="120" />
    </setting>
    <setting propertyKey="@Properties.paceVsPower" title="@Strings.SetPaceVsPower">
        <settingConfig type="list">
            <listEntry value="0">@Strings.PaceVsPowerAuto</listEntry>
            <listEntry value="1">@Strings.PaceVsPowerPace</listEntry>
            <listEntry value="2">@Strings.PaceVsPowerPower</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.gradeThreshold" title="@Strings.SetGradeThreshold">
        <settingConfig type="numeric" min="1" max="20" />
    </setting>
    <setting propertyKey="@Properties.paceZoneModel" title="@Strings.SetPaceZoneModel">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ModelOff</listEntry>
            <listEntry value="1">@Strings.Model8020</listEntry>
            <listEntry value="2">@Strings.ModelFriel</listEntry>
            <listEntry value="3">@Strings.ModelCts</listEntry>
            <listEntry value="4">@Strings.ModelMyProCoach</listEntry>
            <listEntry value="5">@Strings.ModelCustom</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.thresholdPace" title="@Strings.SetThresholdPace" prompt="@Strings.SetThresholdPacePrompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.paceZonesCsv" title="@Strings.SetPaceZonesCsv" prompt="@Strings.SetPaceZonesPrompt">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
