<settings>
    <setting propertyKey="@Properties.rollingWindowSec" title="@Strings.SetRollingWindow">
        <settingConfig type="numeric" min="5" max="120" />
    </setting>
    <setting propertyKey="@Properties.usePower" title="@Strings.SetUsePower">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.autoToggleSec" title="@Strings.SetAutoToggle">
        <settingConfig type="numeric" min="0" max="60" />
    </setting>
    <setting propertyKey="@Properties.paceZonesEnabled" title="@Strings.SetPaceZonesEnabled">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.thresholdPace" title="@Strings.SetThresholdPace" prompt="@Strings.SetThresholdPacePrompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.paceZoneCount" title="@Strings.SetPaceZoneCount">
        <settingConfig type="list">
            <listEntry value="5">@Strings.Zones5</listEntry>
            <listEntry value="7">@Strings.Zones7</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.paceZonesCsv" title="@Strings.SetPaceZonesCsv" prompt="@Strings.SetPaceZonesPrompt">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
